
.main{
    width:auto;
    text-align: right;
}

.main img {
    width: 100%;
    height: auto;
    max-height:650px;
    object-fit: cover;
    object-position: top center;
    border-radius: 0 0 10px 0;
    
}

.main figcaption{
    color:#505050;
}

input{
    background-color: whitesmoke;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 5px;
}

textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

button{
    margin-top: 10px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border-color: green;
    background-color: green;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
}

.container {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap; 
    margin-top: 15px;
    margin-bottom: 15px;
   
}


.card1, .card2, .card3 {
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); 
    text-align: center;
    box-sizing: border-box;
    
    border-right: 3px solid #505050;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .card1, .card2, .card3 {
        width: 100%; 
        margin: 10px 0; 
    }
}


.container3 {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.menu {
    display: flex;
    gap: 15px; /
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    text-decoration: none;
}



.container2 {
    background-color: #f7f3f3;
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; }

.col-sm-6 {
    flex: 1 1 100%; 
    max-width: 100%;
}

@media (min-width: 768px) {
    .container2 {
        flex-direction: row; 
        align-items: flex-start;
    }

    .col-sm-6 {
        flex: 1 1 48%;
        max-width: 48%; 
    }
}

.menu {
    display: flex;
    gap: 3px;
    flex-direction: row;
    align-items: center;
    align-self: center;
    align-items: flex-end;
    padding: 10px;
    
}
#menu {
    text-align: left;
}
.menu a {
    text-decoration: none;
    color: black;
    padding: 10px;
    transition: color 0.3s;
    
    border-radius: 8px;
}

.menu a:hover {
    color: #f3f5f7; 
    background-color: #555;
}

.texto {
    color:yellow;
    padding: 30px;
    background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190628/ourmid/pngtree-dark-wood-grain-background-material-image_268100.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    width: 80px;
    height: 50px;
}

.col-lg-1 {
    display: inline-flex;
    align-items: center;
}
.container4 {
    display: flex;
    background-image: url(https://i.pinimg.com/originals/c8/73/59/c87359464ded9d2a589a2bbe14660a8e.jpg);
    background-size: cover; /* Garante que a imagem cubra todo o container */
    background-position: center; /* Centraliza a imagem no container */
    color: #ccc;
    gap: 20px; /* Adiciona espaçamento entre os itens flex */
    flex-wrap: wrap; /* Permite que os itens quebrem para a linha seguinte se necessário */
}

.container4 img {
    width: 100%; /* Faz com que a imagem ocupe a largura da coluna */
    max-width: 400px; /* Define a largura máxima da imagem */
    height: auto; /* Mantém a proporção da imagem */
}


.container4 p {
    font-size: 18px;
    margin-right: 40px;
}

button{
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 40px;
    cursor: pointer;

}


.col-md-4 {
    flex: 1 1 50%; 
    max-width: 100%;
    padding: 40px;
    
}

.container_site {

    display: flex;
    font-family:'Roboto', sans-serif;
}
.btntext{
background-color: antiquewhite;
padding: 15px;
border-radius: 50px;
text-align: center;
margin: 0 35px 0  35px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}